:root {
  --color-moderate-violet: rgb(117, 65, 200);
  --color-very-dark-grayish-blue: rgb(72, 85, 106);
  --very-dark-blackish-blue: rgb(25, 33, 46);
  --color-white: rgb(255, 255, 255);
  --color-light-gray: rgb(207, 207, 207);
  --color-light-grayish-blue: rgb(236, 242, 248);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 81.25%;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: 1fr [col-center-start] 58vw [col-center-end] 1fr;
  grid-template-rows: 1fr [row-center-start] 64vh [row-center-end] 1fr;

  background-color: var(--color-light-grayish-blue);
}

.container {
  grid-column: col-center-start / col-center-end;
  grid-row: row-center-start / row-center-end;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.color-white {
  color: var(--color-white);
}

.color-black {
  color: #000;
}

.testimonial__box {
  border-radius: 0.75rem;
  overflow: hidden;
  padding: 2.5rem;

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr 1fr;

  column-gap: 1rem;
  row-gap: 1.5rem;
  box-shadow: 10px 10px 106px -56px rgba(0, 0, 0, 0.75);
}

.testimonial__img {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.purple-border {
  border: 2px solid var(--color-moderate-violet);
}

.testimonial__person__info {
  grid-column: 2 / -1;
  grid-row: 1 / 1;
}

.testimonial__title {
  font-weight: 600;
  grid-column: 1 / -1;
}
.testimonail__desc {
  grid-column: 1 / -1;
  opacity: 0.7;
  font-size: 1rem;
}

.heading-3 {
  font-size: 1rem;
  font-weight: 500;
}

.verified {
  font-size: 0.8rem;
  opacity: 0.7;
}

.testimonial__box--1 {
  grid-row: 1 / 1;
  grid-column: 1 / span 2;

  background-color: var(--color-moderate-violet);

  position: relative;
}

.testimonial__box--1::before {
  content: "\201C";
  font-family: sans-serif;
  position: absolute;
  font-size: 37rem;
  color: var(--color-light-gray);
  opacity: 0.4;
  top: -7rem;
  right: 5.5rem;
}

.testimonial__box--2 {
  grid-row: 1 / 1;
  background-color: var(--color-very-dark-grayish-blue);
}

.testimonial__box--3 {
  background-color: var(--color-white);
}

.testimonial__box--4 {
  grid-column: 2 / span 2;
  background-color: var(--very-dark-blackish-blue);
}

.testimonial__box--5 {
  grid-row: 1 / -1;
  background-color: var(--color-white);
}

@media only screen and (max-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

@media only screen and (max-width: 100em) {
  body {
    grid-template-columns: 1fr [col-center-start] 70vw [col-center-end] 1fr;
  }
}

@media only screen and (max-width: 80em) {
  body {
    grid-template-columns: 1fr [col-center-start] 80vw [col-center-end] 1fr;
  }
}

@media only screen and (max-width: 75.63em) {
  html {
    font-size: 65%;
  }
}

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 55%;
  }

  body {
    grid-template-rows: 1fr [row-center-start] 50vh [row-center-end] 1fr;
  }
}

@media only screen and (max-width: 53.13em) {
  html {
    font-size: 75%;
  }

  body {
    grid-template-rows: 4.5rem [row-center-start] max-content [row-center-end] 4.5rem;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 30rem 20rem 20rem 30rem 30rem;
    padding-bottom: 4.5rem;
  }

  .testimonial__box--1 {
    grid-row: auto;
    grid-column: auto;
  }

  .testimonial__box--2 {
    grid-row: auto;
    grid-column: auto;
  }

  .testimonial__box--3 {
    grid-row: auto;
    grid-column: auto;
  }

  .testimonial__box--4 {
    grid-row: auto;
    grid-column: auto;
  }

  .testimonial__box--5 {
    grid-row: auto;
    grid-column: auto;
  }
}
